/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #333;
}

.main-title {
    color: #fff;
    font-weight: bold;
    font-size: 2.5em;
    white-space: normal;
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
}

.break-line {
    display: inline;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
    outline: none;
}

/* Header Styles */
.ftnt-navigation {
    background-color: rgba(51, 51, 51, 0.8);
    color: #fff;
    padding: 10px 0;
    position: relative;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
}

.ftnt-navigation.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(51, 51, 51, 0.9);
}

#top-nav .container {
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center vertically */
    max-width: 100%;
}

.top-toolbar {
    list-style: none;
    display: flex;
    justify-content: center; /* Center the menu items */
    align-items: center;
    margin: 0;
    padding: 0;
    flex-grow: 1; /* Allows the menu to take up remaining space */
}

.top-toolbar li {
    margin: 0 15px;
}

.top-toolbar li a {
    color: #fff;
    font-weight: bold;
}

.custom-background-section {
    background: url('images/back.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

.custom-background-section .content {
    max-width: 800px;
    z-index: 10;
}

.custom-background-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.button--transparent--home {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 70px 15px 30px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 30px;
    position: relative;
    transition: all .5s;
}

.button--transparent--home:after {
    content: '';
    width: 26px;
    height: 26px;
    background: url('images/back.jpg');
    display: inline-block;
    position: absolute;
    right: 20px;
    margin-top: -3px;
    transition: all .5s;
}

/* Impact Section Styles */
.impact-section {
    background-image: url('images/99.png'); /* Remplacez 'your-image.jpg' par le nom de votre fichier image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This creates the parallax effect */
    padding: 50px 20px;
    color: #000000; /* Ensures text is white */
}

.section-title {
    color: #ede6e6; /* Ensures the title is white */
}

.impact-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.impact-item {
    text-align: center;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Adds a semi-transparent black background for readability */
    padding: 10px;
    border-radius: 8px;
}

.elementor-counter-number-wrapper {
    font-size: 2rem;
    font-weight: bold;
    color: #fff; /* Ensures the text is white */
}

.elementor-counter-title {
    font-weight: bold;
    margin-top: 10px;
    color: #fff; /* Ensures the text is white */
}

.separator {
    width: 2px;
    background-color: #ccc;
    height: 50px;
    margin: 0 20px;
}

@media (max-width: 768px) {
    .impact-row {
        flex-direction: column;
    }
    .separator {
        display: none;
    }
}

/**/

.elementor-image-box-wrapper {
    padding: 20px;
    background: #ecdddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.elementor-image-box-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.elementor-image-box-description {
    color: #555;
    line-height: 1.6;
}

.elementor-button-wrapper {
    margin-top: 20px;
    text-align: center;
}

.elementor-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.elementor-button:hover {
    background-color: #0056b3;
}


/**/
.animated-text {
    opacity: 0;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/*Contact*/
.contact-info {
    margin-top: 20px;
    font-size: 16px;
}

.contact-info p {
    margin: 5px 0;
}

.map-container {
    margin-top: 20px;
    margin-bottom: 100px; /* Add space below the map */
    max-width: 100%;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.medium-img {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 200%; /* Ensure responsiveness */
    display: block;
    margin: 0 auto; /* Center the image */
}

/* Partners */
.partner-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Two columns */
    gap: 20px; /* Space between cards */
    justify-content: center; /* Center the elements */
    margin-bottom: 60px; /* Add space below the partner list */
}

.partner {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.partner:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.partner img {
    width: 120px;
    height: auto;
    margin-right: 20px;
}

.partner p {
    margin: 0;
    color: #333;
}



.top-toolbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.top-toolbar li {
    margin: 0 15px;
}

.top-toolbar li a {
    color: #fff;
    font-weight: bold;
}

/* Mobile Menu Styles */
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    .top-toolbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        right: 0;
        background-color: rgba(51, 51, 51, 0.9);
        padding: 10px 0;
        z-index: 1000;
        align-items: flex-start; /* Align items to the top left */
        padding-left: 20px; /* Add some padding to the left for spacing */
    }

    .top-toolbar.show {
        display: flex;
    }

    .top-toolbar li {
        margin: 10px 0;
    }
}

/* Services Section Styles */
.services-section {
    padding: 60px 20px; /* Increased padding for more breathing space */
    background-color: #f9f9f9; /* Slightly lighter background for a cleaner look */
}

.section-title {
    text-align: center;
    font-size: 2.5rem; /* Consistent font size unit */
    margin-bottom: 40px;
    color: #333;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.service-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

.service-card.in-view {
    opacity: 1;
    transform: translateY(0);
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service-card-header {
    background-color: #3d9bff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold; /* Added bold for emphasis */
}

.service-card-body {
    padding: 20px;
}

.service-card-body p {
    margin-bottom: 20px;
    color: #555;
    line-height: 1.6; /* Improved readability */
}

.service-card-body ul {
    list-style-type: none;
    padding: 0;
}

.service-card-body ul li {
    margin-bottom: 10px;
    color: #333;
    position: relative;
    padding-left: 20px; /* Space for icon */
}

.service-card-body ul li:before {
    content: '•'; /* Bullet point */
    position: absolute;
    left: 0;
    color: #007BFF; /* Accent color for bullet */
}

@media (max-width: 768px) {
    .service-grid {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}
/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Contact Section Styles */
#contact {
    padding: 0 20px;
}

#contact h2 {
    margin-left: 20px;
}

#contact form {
    margin-left: 20px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

form button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

.logo-title-container {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 20px; /* Ajoute un espace en dessous */
}

.company-logo {
    max-width: 300px; /* Ajuste la taille du logo */
    height: auto;
    margin-right: 20px; /* Espace entre le logo et le texte */
}

.section-title {
    margin: 0; /* Supprime la marge par défaut */
}



.custom-background-section {
    background-size: cover;
    background-position: center;
    animation: changeBackground 270s infinite;
  }


/* Footer Styles */
footer {
    background-color: #1a1a1a; /* Darker background for a modern look */
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    position: relative;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Space out content evenly */
    align-items: flex-start; /* Align items to the top */
}

.footer-nav ul, .footer-interest ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-nav ul li, .footer-interest ul li {
    margin: 0 15px; /* Increased margin for better spacing */
}

.footer-nav a, .footer-interest a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.footer-nav a:hover, .footer-interest a:hover {
    color: #007BFF; /* Blue color on hover for a modern touch */
    text-decoration: underline;
}

.footer-interest {
    flex: 1 1 300px; /* Flex properties for responsive design */
    margin-top: 20px;
}

.footer-interest p {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-content p {
    flex: 1 1 100%;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-nav, .footer-interest {
        text-align: center;
    }
}